@import url("https://fonts.googleapis.com/css2?family=Mina:wght@700&family=Noto+Sans+TC:wght@100..900&display=swap");

*,
*::before,
*::after,
body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.mina-bold {
  font-family: "Mina", sans-serif;
  font-weight: 700;
}
