@import "global.css";

.container {
  padding: 32px 20px 80px;
}

.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

.wrapper .breadcrumb {
  display: flex;
  gap: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 24px;
}

.wrapper .breadcrumb span {
  color: #dee2e6;
}

.wrapper .breadcrumb .prev-link {
  color: #6c757d;
  font-weight: 500;
  line-height: 1.5;
}

.wrapper .breadcrumb .active {
  font-weight: 500;
  line-height: 1.5;
}

.wrapper h1 {
  font-size: 1.75rem;
  font-weight: 700;
  padding: 7px 0;
  margin: 0 0 24px;
}

.products {
  display: flex;
  gap: 24px;
}

.products aside {
  flex: 1;
  align-self: start;
  position: sticky;
  top: 100px;
  max-width: 196px;
}

.products aside ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.products aside ul li {
  padding: 12px 0;
}

.products aside ul li a {
  font-weight: 500;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.products aside ul li a.active {
  color: #57a203;
}

.products aside ul li a:hover {
  color: #57a203;
}

.products main {
  max-width: 1076px;
}

.products main ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 24px;
  margin: 0 0 48px;
}

.products main ul img {
  margin: 0 0 12px;
}

.products main a article h3 {
  font-weight: 700;
  margin: 0 0 4px;
}

.products main a article p {
  font-weight: 500;
  line-height: 1.5;
}

.products main .pagination {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  gap: 12px;
  max-width: 336px;
  margin: 0 auto;
}

.products main .pagination .page {
  display: flex;
  gap: 8px;
}

.products main .pagination button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  justify-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.products main .pagination button.active {
  background-color: #c0fa73;
  font-weight: 500;
}

.products main .pagination button:hover {
  background-color: #f8f9fa;
}

@media (max-width: 1280px) {
  .products {
    flex-direction: column;
    align-items: center;
  }

  .products aside {
    position: static;
  }

  .products main ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .products main .pagination button {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 640px) {
  .products main ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
